version: '3'
services:
  mysql:
    image: mysql:8.0
    container_name: mall-mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - 3306:3306
    volumes:
      - ./mysql/data:/var/lib/mysql
      - ./mysql/conf:/etc/mysql/conf.d
      - ./mysql/log:/var/log/mysql
  redis:
    image: redis:7.0
    container_name: mall-redis
    restart: always
    ports:
      - 6379:6379
    volumes:
      - ./redis/data:/data
  minio:
    image: minio/minio
    container_name: mall-minio
    command: server /data
    restart: always
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - ./minio/data:/data
      - ./minio/config:/root/.minio
